<p>search-box works!</p>
<div class ="container">
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="cardName" required [(ngModel)]="card.cardName" name="cardName" placeholder="Enter a Card Id">
        </div>
        <button type="button" class="btn btn-default" (click)="OnSubmit()">Search</button>

        <div >
            <li>Card Name: {{card.cardName}}</li>
            <li>Card ID: {{card.cardId}}</li>
            <li>Card Class: {{card.cardClass}}</li>
            <li>Attack: {{card.attackNumber}}</li>
            <li>Defense: {{card.defenseNumber}}</li>
            <li>Image Source: {{card.imageURL}}</li>
            
        </div>
        <div>
            <img src = {{card.imageURL}} width=250 height=300>
        </div>
    </form>
    
    

</div>